@font-face {
    font-family: 'open-arrow';
    src: url('assets/OpenArrow-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+2190-21ff;
}

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    background: #fafafa;
    font-family: 'open-arrow', "Helvetica Neue", 'Helvetica', sans-serif;
    font-size: 40px;
    color: black;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior-y: none;
    scroll-behavior: smooth;
}

.scroll-snap {
    scroll-snap-type: y mandatory;
}

#fader {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999999;
    pointer-events: none;
    background: #fafafa;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}

@keyframes fade-out {
    from { opacity: 1 }
    to { opacity: 0 }
}

@keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 1 }
}

#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}

h1 {
    margin: 0;
    font-size: 32px;
    font-weight: 400;
}

h2 {
    margin: 0;
    font-size: 32px;
    font-weight: 400;
    line-height: 1em;
}

h3 {
    margin: 0;
    font-size: 28px;
    font-weight: 400;
}

p {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1em;
}

small {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1em;
}

a {
    color: black;
    text-decoration: none;
}

#scene {
    z-index: 1;
    position: absolute;
}

.centre {
    z-index: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.gradient-bg {
    width: 100%;
    height: calc(100vh - 15px);
    left: 0px;
    top: 0px;
    position: relative;
    background: rgb(110, 143, 150);
    background: linear-gradient(0deg, rgba(110, 143, 150, 1) 0%, rgba(109, 157, 193, 1) 21%, rgba(255, 204, 204, 1) 91%);
    margin: 0px;
    scroll-snap-align: center;
}

.about {
    z-index: 1;
    position: absolute;
    top: 0px;
    right: 0px;
}

.home {
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
}

.projects-title {
    z-index: 1;
    position: absolute;
    bottom: 0px;
    padding-left: 20px;
}

.projects-title:hover {
    cursor: pointer;
}

.projects-bg {
    position: relative;
    width: 100%;
    height: calc(100vh - 85px);
    margin: 0px;
    background: rgb(110, 143, 150);
    background: linear-gradient(180deg, rgba(110, 143, 150, 1) 0%, rgba(250, 250, 250, 1) 100%);
    scroll-snap-align: center;
}

.projects-list {
    position: absolute;
    width: 100%;
    height: 100%;
}

.project {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 12.5%;
    border-top: 2px solid black;
}

.project-title-container {
    position: relative;
    padding: 0px 20px;
    width: 33%;
    min-width: 500px;
}

.project-text-container {
    position: relative;
    padding: 0px 20px;
    width: 33%;
}

.project-name {
    position: absolute;
    bottom: 0;
}

.project-type {
    position: absolute;
    bottom: 0;
}

.go {
    position: absolute;
    bottom: 0;
    width: calc(100% - 40px);
    text-align: right;
}

.thumbnail-container {
    display: none;
    position: absolute;
}

.thumbnail-container.utopia {
    width: 33vw;
    height: 90%;
    right: 10vw;
    top: 7%;
}

.thumbnail-container.speech-bubbles {
    width: 33vw;
    height: 50%;
    left: 20vw;
    bottom: 7%;
}

.thumbnail-container.mars {
    width: 33vw;
    height: 80%;
    right: 30vw;
    bottom: 5%;
}

.thumbnail-container.advertising-bot {
    width: 33vw;
    height: 50%;
    right: 55px;
    bottom: 0px;
}

.thumbnail-container.sonance {
    width: 33vw;
    height: 33vw;
    right: 20px;
    top: 7%;
}

.thumbnail-container.bbc-habitat {
    width: 33vw;
    height: 50%;
    left: 55px;
    top: 20px;
}

.thumbnail-container.technonatural-futures {
    width: 33vw;
    height: 33vw;
    left: 40vw;
    top: 20vh;
}

.thumbnail-container.what-i-see {
    width: 33vw;
    height: 80%;
    right: 10vw;
    top: 7vh;
}

.thumbnail {
    position: absolute;
    object-fit: contain;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
}

.animated {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
}

@-webkit-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; display: none; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; display: none; }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.page-container {
    position: relative;
    padding: 15px 20px 20px;
    overflow: scroll;
}

.info {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.project-basic {
    width: calc(33% - 10px);
}

.border-top {
    border-top: 1px solid black;
}

.project-about {
    margin-top: 2px;
    width: calc(67% - 10px);
}

.flex {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.half {
    width: calc(50% - 10px);
    height: intrinsic;
    margin-bottom: 20px;
}

.full {
    width: 100%;
    margin-top: 0;
    margin-bottom: 15px;
}

.rounded {
    border-radius: 20px;
}

.locked-aspect {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    margin-bottom: 20px;
}

.locked-ifr {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.nav {
    position: relative;
    height: 50px;
}

.padded {
    margin-bottom: 15px;
}

.footer {
    margin-top: 75px;
    margin-bottom: 10px;
    height: 50px;
}

.app {
    position:relative;
    margin: 0;
}

.border {
    border: 1px solid green;
}

p a {
    text-decoration: underline;
}

p a:hover {
    text-decoration: none;
}

.right {
    text-align: right;
}

@media only screen and (max-width: 600px) {

    h1,
    h2 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }

    .project-basic,
    .project-about {
        width: 100%;
    }

    .project-basic p {
        line-height: 2em;
        margin-bottom: 15px;
    }

    .project-title-container {
        min-width: 200px;
        padding-left: 1em;
        text-indent: -1em;
        margin-left: 20px;
    }

    .hidden-mobile {
        display: none;
    }

    .info {
        margin: 20px 0;
    }

    .half {
        width: 100%;
    }

    .rounded {
        border-radius: 15px;
    }
}